@model BudgetPlanner.DataAccess.Models.BudgetModel

@if (Model != null)
{

    <div class="productStyles">
        <h3>Budget Goal: <span id="Goal">@Model.BudgetGoal.ToString("C")</span> |
            Total Spent: <span id="Spent">@Model.TotalSpent.ToString("C")</span> |
            Amount Left: <span id="Left">@Model.AmountLeft.ToString("C")</span></h3>
    </div><br>

    <div>
@if (Model.Purchases.Count() > 0)
{
    <h4>Purchases</h4>

    <div>
        <partial name="_PurchasePartial" for="@Model.Purchases" />
    </div>
}
    </div>

}
else
{
    <p>No Budgets have been found with that provided Id.</p>
}

<a class="btn btn-primary" asp-action="ViewAllBudgets" asp-route-id="@Model.ID">Back to Old Budgets</a>